
// Fonts

@import url('https://fonts.googleapis.com/css?family=Pacifico');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.white {
  color: #fff;
}
.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

a > .navbar-brand {
  font-family: 'Pacifico', cursive;
}
.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

#carouselTestimonial{
  position: absolute;
  right: 15%;
  top: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.grad{
  background-image: linear-gradient(-90deg, #20B2AA, #6897BB);
}

#gradRegister{
  background-image: linear-gradient(-90deg, #20B2AA, #afeeee);
  
}

a.card,
a.card:hover {
  color: #fff;
  text-decoration: none;
}

.bg-shop
{
    margin: 80px 280px;
    border-style: dashed;
    width: 60%;
    height: auto;
}

.title-md
{
    float:right;
    padding: 50px 80px;
}

.desc-md
{
    float:left;
    padding: 30px 60px;
}

.bg-shop + h4
{
    font-size:2.0rem;
}

.bg-shop + h5
{
    font-size:1.7rem;
}

.bg-shop + h6
{
    font-size:1.5rem;
}

.bg-login
{
  width: 70%;
  height: auto;
  background-color: #dd99fc;
  margin: 150px 210px;  

}

.bg-login + h2
{
    margin: 0px 356px;
    padding: 30px;
}

.bg-login .row .col-md-5
{
  margin: 0px 295px;
}

#landing-page {
  background: url("/img/landingpage.png") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;

}

#merchant {
  background: url("/img/nice.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
body
{
  background-color:	#6497b1;
}

.bg-login .row .col-md-5 + button
{
    margin: 30px 156px;
}

.navbar-brand
{
  font-family: 'Pacifico', cursive;
}

.rounded
{
  border-radius: 50px;
}

}

.bg-narahub-accent{
  background-color:#3B6EE3;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.discount-tag{
  border-radius: 50px;
  z-index: 999999999999999999;
  float: left;
  background-color : red;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block !important;
}

#carousel-image-vouchers > .carousel-item
{
  max-height: 300px;
}
#carousel-image-vouchers > .carousel-item > img{
  height: 100%;
  object-fit: contain;
}

a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
}
#registerPictureForm {
  background: url("/img/Register.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.red{
  color: red;
}